@CHARSET "ISO-8859-1";

.headerimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body {   
 width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;   
color: #444;   
-webkit-font-smoothing: antialiased;  background: #fff;
}

#container {
	position: relative;
	width: 340px;
	height: 310px;
	top: 5%;
	left: 50%;
	margin-left: -170px;
	background: #fff;
	border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}


p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
}
input[type=submit] {
    width: 80px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #3071a9;
border-color: #285e8e;
}
.login-help
{
	    display: block;
    margin-left: auto;
    margin-right: auto
}